# App Environment Variables

# PostgreSQL configuration
POSTGRES_DB=quantyfin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Neo4j configuration
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=changeme
NEO4J_HTTP_PORT=7474

# Backend config
PROJECT_NAME=quantyFin-ai
SECRET_KEY=changeme
ACCESS_TOKEN_EXPIRE_MINUTES=30
